.product-form {
  width: 20rem;
  max-width: 90%;
  /* margin: auto; */
  display: block;
  background-color: #5ba9b8;
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.product-item {
  background-color: #5ba9b8;
  border-radius: 1rem;
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title,
.product__price,
.product__description {
  color: #fff;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}
